@import './../../variables.scss';

.loader_main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    @include flex-row();
    opacity: 1;
    transition: opacity 0.2s;
    animation: fadeIn 0.1s 1;

    &.animate_fade {
        opacity: 0;

        video {
            transform: scale(0.3);
            opacity: 0;
        }
    }

    video {
        width: 100%;
        max-width: 600px;
        opacity: 1;
        transform: none;
        transition: all 0.4s;
    }
}
