@import './../../variables.scss';

.train_wrap {
  float: left;
  width: 100%;
  position: relative;

  .train_embre {
    width: 50%;
    height: 74vh;
    position: absolute;
    bottom: 0;
    background-image: url('../../assets/images/characters/embre_train.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &:after {
    @include pseudo-abs();
    background-image: url('../../assets/images/trainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s 1;
    filter: brightness(0.6);
  }

  .content_wrap {
    margin-bottom: 0;

    .x2 {
      min-height: 100vh;
    }

    .box_wrap {
      max-width: 558px;
      width: 100%;
      @include flex-column();
      margin-top: $mainnav-height !important;
      height: calc(100vh - #{$mainnav-height} - 20px);

      &.svg_main_wrap {
        max-width: 500px;
        padding: 20px !important;
        @include flex-column();
        min-height: 100%;
        margin: 0;

        .box_svg {
          max-height: max(497px, calc(100vh - 120px));
        }

        .box_svg_mobile {
        }

        .top_details {
          width: 100%;

          .main_title {
            color: #000000;
            font-size: 32px;
            margin-bottom: 45px;
            @include flex-row();
            justify-content: space-between;
            align-items: flex-start;

            .bento_box {
              width: 150px;
              margin-top: -10px;
              position: relative;

              span {
                font-size: 10px;
                padding-left: 50px;
                padding-bottom: 5px;

                &.number {
                  position: absolute;
                  font-size: 40px;
                  font-weight: 600;
                  right: 10px;
                  top: 30px;
                  text-shadow: 0px 0px 10px #ecddb6;
                }
              }
            }
          }

          .range_wrap {
            width: 100%;
            color: rgb(41, 41, 41);
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;

            .rangebox {
              width: 100%;
              height: 15px;
              width: 100%;
              border-radius: 10px;
              margin-top: 8px;
              background-color: #c4c4c4;
              overflow: hidden;

              .current_range {
                background-color: #c9515d;
                height: 100%;
                border-radius: inherit;
              }
            }
          }
        }

        .middle_wrap {
          width: 100%;
          z-index: 5;
          position: relative;
          min-height: 210px;
          margin-top: -15px;

          .level_details {
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 1.5;
            color: #000000;
            padding: 25px;
            padding-top: 45px;

            svg {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
            }

            .title {
              margin-bottom: 15px;
            }

            .data {
              width: 100%;
              @include flex-row();
              flex-wrap: wrap;
              justify-content: flex-start;

              .item {
                margin-right: 30px;
                margin-bottom: 15px;
              }
            }
          }
        }

        .bottom {
          margin-bottom: 30px;
          width: 100%;

          p {
            margin: 0;
            margin-top: 20px;
            color: #000000;
            font-size: 18px;
            width: 100%;
          }

          .check_button {
            margin-left: 50%;
            transform: translate(-50%);
            height: 65px;
            margin-top: 15px;
            animation: fadeIn 0.4s 1;
          }

          .button_wrap {
            @include flex-row();
            justify-content: space-between;
            padding: 0 30px;

            button {
              width: 80px;
              min-width: auto;

              svg {
                width: 90px;
              }
            }

            .prediction {
              margin-top: 15px;
              .label {
                color: #000;
                text-align: center;
              }

              .value {
                margin-top: 15px;
              }
            }
          }

          .value {
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 6px;
            text-align: center;
            color: #4ba56f;
            margin-top: 35px;
          }
        }
      }

      .selection_wrap {
        width: calc(100% - 20px);
        background: #6f00ff 0% 0% no-repeat padding-box;
        box-shadow: 2px 4px 20px #29292933;
        border-radius: 28px;
        @include flex-column();
        position: relative;
        height: 45px;
        margin-bottom: 20px;

        img {
          position: absolute;
          display: none;
        }
        select {
          width: calc(100% - 20px);
          border: none;
          background-color: transparent;
          text-align: left;
          letter-spacing: 0px;
          color: #ffffff;
          padding-left: 15px;
          outline: none;
        }
      }

      .main_title {
        text-align: left;
        width: 100%;
      }

      .white_box {
        width: 100%;
        background-color: rgb(235, 252, 238);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 2px 4px 20px #61616159;
        margin-bottom: 15px;

        .level {
          color: rgb(41, 41, 41);
          font-size: 20;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .details {
          @include flex-row();
          justify-content: flex-start;

          &.border_bottom {
            padding-bottom: 30px;
            position: relative;

            &:before {
              @include pseudo-abs();
              height: 1px;
              background-color: #333;
              top: auto;
              bottom: 15px;
            }
          }

          .item {
            color: rgb(41, 41, 41);
            font-size: 17;
            font-weight: 600;
            margin-right: 25px;

            span {
              color: #dc67a7;
            }
          }
        }
      }

      .contents {
        text-align: center;

        .title {
          font-size: 26px;
          font-weight: 600;
        }

        .value {
          color: rgb(111, 0, 255);
          font-size: 26px;
          font-weight: 800;
          margin: 10px 0;
        }

        p {
          color: rgb(41, 41, 41);
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          margin-bottom: 20px;
        }
      }

      .buttons_wrap {
        width: 100%;
        @include flex-row();
        justify-content: space-between;

        .button {
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 2px 4px 20px #6f00ff59;
          border-radius: 19px;
          padding: 14px 15px;
          cursor: pointer;
          @include flex-row();
          color: #6f00ff;
          font-size: 24px;
          line-height: 0.8;
          font-weight: 600;
          transition: transform 0.2s;
          min-width: 170px;

          &.contrast {
            color: #fff;
            background-color: #dc67a7;
          }

          &:hover {
            &:active {
              transform: scale(0.97);
            }
          }
          &::selection {
            color: inherit;
            background: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .train_embre {
    display: none;
  }

  .train_wrap {
    &:after {
      min-height: calc(100vh - #{$mainnav-height-mob});
    }
    .content_wrap {
      .x2 {
        &:last-child {
          min-height: auto;
        }

        .box_wrap {
          .top_details {
            .main_title {
              font-size: 20px;
              position: relative;
              margin-bottom: 0;

              .bento_box {
                width: 47.02px;
                height: 33.23px;
                position: absolute;
                right: 0;
                margin-top: 0;
                top: -11vh;
                background: #ecdcb6;
                border-radius: 20px;

                &::before {
                  @include pseudo-abs();
                  width: 15.02px;
                  height: 15.02px;
                  border-radius: 50%;
                  background: #e1e1e1;
                  top: 9px;
                  left: 5px;
                }

                svg {
                  display: none;
                }

                span {
                  display: block;
                  float: left;

                  &.number {
                    font-size: 23px;
                    padding: 0;
                    position: absolute;
                    top: 3px;
                    right: 8px;
                  }

                  &:not(.number) {
                    display: none;
                  }
                }
              }
            }
            .range_wrap {
              font-size: 14px;
              margin-bottom: 5px;

              .rangebox {
                margin-top: 2px;
                height: 8px;
              }
            }
          }

          .middle_wrap {
            @include flex-row();
            align-items: flex-start;
            margin-top: 20px;

            .card_image {
              width: 80px;
              img {
              }
            }

            .level_details {
              padding: 15px;
              padding-left: 20px;

              svg {
                width: calc(100% - 90px);
                right: 0;
                left: auto;
              }

              .title {
                font-size: 15px;
                margin-bottom: 2px;
              }

              .data {
                .item {
                  margin-bottom: 0;
                  font-size: 14px;
                }
              }
            }
          }

          .bottom {
            p {
              margin: 0;
              font-size: 15px;
            }

            .button_wrap {
              padding: 0;
              flex-wrap: wrap;

              .value {
                font-size: 5vmin;
                margin-top: 20px;
              }

              .prediction {
                min-height: 100%;
                width: 100%;

                .label {
                  margin-top: 5px;
                }

                .value {
                  margin-top: 10px;
                }
              }

              button {
                width: 11vw;

                &:last-child {
                  @include flex-row();
                  justify-content: flex-end;

                  svg {
                    float: right;
                    margin-left: 0vw;
                  }
                }
                svg {
                  width: 20vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
