@import './../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.home {
  &:after {
    @include pseudo-abs();
    background-image: url('../../assets/images/Pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - #{$mainnav-height});
    z-index: -1;
    animation: fadeIn 0.5s 1;
  }

  .header_title {
    width: 100%;
    @include flex-row();
    padding-top: 40px;
    margin-bottom: max(2%, 80px);
    position: relative;

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      font-size: 25px;
      color: #fff;
      padding-top: 65px;
    }
  }

  .new_home {
    width: 100%;
    height: 100vh;
    @include flex-column();
    overflow: hidden;

    .logo_wrap {
      width: inherit;
      height: inherit;
      @include flex-column();
      position: relative;
      animation: gentleZoom 2s infinite alternate ease-in-out;

      &.loaded {
        animation: none;

        img {
          &.logo {
            &.to_be_hidden {
              transform: scale(0.3);
              opacity: 0;
            }

            &.always_up {
              opacity: 1;
            }
          }
        }
      }
    }

    img {
      &.bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        // filter: brightness(0.7);
        animation: fadeIn 0.8s 1;
      }

      &.logo {
        max-width: min(500px, 80%);
        max-height: min(400px, 80%);
        object-fit: contain;
        z-index: 1;
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        transition: all 1s !important;

        &.always_up {
          opacity: 0;
          max-width: 160px;
          max-height: 160px;
          right: 2%;
          bottom: 2%;
          transform: none;
          animation: gentleZoom 2s infinite alternate ease-in-out;
        }

        &.to_be_hidden {
          position: relative;
          right: auto;
          bottom: auto;
          transform: none;
          animation: none;
        }

        @keyframes gentleZoomSpecial {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .main_section {
    position: relative;
    background-image: url('../../assets/images/landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 100vh;

    .main_box {
      min-height: min(400px, 54vh);
      max-width: 100%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
      }

      .box_content {
        @include flex-row();
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #000000;
        min-height: calc(min(400px, 54vh) - 40px);
      }

      svg {
        max-width: 100%;
      }
    }

    .buttons_wrap {
      width: 100%;
      @include flex-row();
      margin-top: -20px;
      margin-left: -20px;

      button {
        padding: 0;
      }

      svg {
        height: 90px;
      }

      .blue_button {
        width: 26%;
        min-width: auto;
        margin-top: 5px;

        svg {
          height: 80px;
        }
      }

      .green_button {
        width: 46%;
        margin-top: -15px;
      }
    }

    .graph_line {
      position: absolute;

      &.graphic_line1 {
        bottom: 4%;
        left: 5%;
        // animation: slideLtR 2.1s infinite alternate;
      }

      &.graphic_line2 {
        right: 11%;
        bottom: 20%;
        // animation: slideLtR 1.8s infinite alternate;
      }

      &.graphic_line3 {
        left: -8%;
        top: 9%;
        // animation: slideLtR 1s infinite alternate;
      }

      &.graphic_line4 {
        left: -11%;
        top: 21%;
        // animation: slideLtR 1.7s infinite alternate;
      }

      &.graphic_line5 {
        right: 0%;
        top: 14%;
        transform: rotate(205deg);
      }

      &.graphic_line6 {
        right: 0%;
        top: 20%;
        transform: rotate(205deg);
      }

      &.graphic_line7 {
        transform: scaleX(-1);
        right: 0;
        bottom: 20%;
      }

      &.graphic_line8 {
        bottom: 11%;
        left: 0;
        // animation: slideLtR 2.6s infinite alternate;
      }

      &.graphic_line9 {
        left: 0;
        top: 17%;
        transform: rotate(25deg) scaleZ(-1);
      }

      &.graphic_line10 {
        transform: rotate(335deg);
        bottom: 16%;
        left: -10%;
      }
    }

    .flex_box {
      .x2 {
        flex-direction: column;
        align-items: flex-start;
        min-height: calc(100vh);
        padding-left: 6%;

        &.image_wrap {
          align-items: center;
          .shibachu {
            margin-top: 10px;
            height: max(min(calc(100vh - 110px - 200px), 700px), 350px);
            object-fit: contain;
          }
        }

        h1 {
          text-align: left;

          letter-spacing: 0px;
          color: #292929;
          text-transform: uppercase;
          max-width: 440px;
          margin: 0;
        }

        p {
          text-align: left;

          letter-spacing: 0px;
          color: #292929;
          max-width: 502px;
          margin-bottom: 30px;
        }
        button {
          // background-color: #6f00ff;
          // border-radius: 5px;
          // box-shadow: 1px 1px 1px #9877c0, 1px 2px 1px #9877c0,
          //   1px 3px 1px #9877c0, 1px 4px 1px #9877c0, 1px 5px 1px #9877c0,
          //   1px 6px 1px #9877c0, 1px 7px 1px #9877c0, 1px 8px 1px #9877c0,
          //   1px 9px 1px #9877c0, 1px 10px 1px #9877c0;
        }
      }
    }
  }

  .nfts_section {
    background-image: url('../../assets/images/laptop.png');
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    .content_wrap {
      @include flex-column();
      margin-bottom: 0;

      .box_wrap {
        width: 100%;
        max-width: 500px;
        @include flex-column();
        height: 100vh;
        padding: 0;

        .top_svg {
          width: calc(100% + 160px);
          margin-left: -20px;
        }
        .main_box {
          min-width: 400px;
          min-height: 300px;
          position: relative;

          .text {
            font-size: 25px;
            color: #000;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            max-width: 100%;
            @include flex-row();
            padding: 20px;
          }
        }
      }

      .text {
        text-align: center;

        letter-spacing: 0px;
        max-width: 486px;
        margin-bottom: 10px;

        span {
          color: #6f00ff;
        }
      }

      .characters_wrapper {
        img {
          margin: 0 25px;
          max-width: 115px;
          object-fit: contain;
        }
      }
    }
  }

  .cyphers_section {
    margin-top: -35px;

    .image_bg {
      background-image: url('../../assets/images/classroom.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-width: 100%;
      min-height: 100vh;

      .content_wrap {
        // @include flex-column();

        .box_wrappers {
          @include flex-row();
          min-height: 100vh;

          .box_wrapper {
            width: 50%;
            @include flex-column();
            // margin-top: -130px;

            &.wrap_box_2 {
              margin-bottom: 10%;
            }

            &.wrap_box {
              padding-top: 300px;

              .character_image {
                width: 100%;
                object-fit: contain;
                object-position: bottom;
              }
            }

            .header_title {
              margin-bottom: 15px;
            }

            .item_box {
              min-height: 280px;
              position: relative;
              @include flex-row();
              align-items: flex-start;
              width: 100%;

              .box_content {
                max-width: 450px;
                padding: 10px;
                font-size: 22px;
                padding-right: 35px;
                padding-top: 35px;
                color: #000;
                min-height: 100%;
                min-height: 200px;
                @include flex-row();
              }
            }
          }
        }

        h1 {
          text-align: center;

          letter-spacing: 0px;
          color: #292929;
          text-transform: uppercase;
          max-width: 450px;
          position: relative;
          background-color: white;
          padding: 10px;
          border-radius: 0px 0px 30px 30px;
          margin: 0 auto;
          margin-bottom: 32px;
          text-shadow: 1px 1px 1px #d4d0d0, 1px 2px 1px #d4d0d0,
            1px 3px 1px #d4d0d0, 1px 4px 1px #d4d0d0, 1px 5px 1px #d4d0d0,
            1px 6px 1px #d4d0d0, 1px 7px 1px #d4d0d0, 1px 8px 1px #d4d0d0,
            1px 9px 1px #d4d0d0, 1px 10px 1px #d4d0d0;
        }

        .text {
          text-align: center;

          letter-spacing: 0px;
          max-width: 90%;
          margin-bottom: 10px;

          span {
            color: #6f00ff;
          }
        }

        .about_board {
          width: 80%;
          height: 85vh;
          margin: 0 auto;
          margin-bottom: 30px;
          background-image: url('../../assets/images/about_cypher.jpg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top;
        }

        .bridge_wrapper {
          width: 90%;
          height: 200px;
          background-color: gray;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
    }
  }

  .bridge_section {
    margin-top: -30px;
    z-index: 3;
    position: relative;

    .image_bg {
      background-image: url('../../assets/images/ancient_hall.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      min-height: 100vh;
      min-width: 100%;
      .content_wrap {
        @include flex-column();
        padding-top: 50px;

        .header_title {
          height: 120px;

          svg {
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }

        .box_wrapper {
          @include flex-row();
          min-height: 20vh;
          max-width: 840px;
          width: 100%;
          margin-bottom: 25px;

          img {
            width: 100%;
            height: 100%;
            max-width: 100%;
          }

          .box_content {
            max-width: 700px;
            padding: 20px;

            p {
              font-size: 22px;
              color: #000;
            }
          }
          svg {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: max(50vh, 370px);
          }
        }

        h1 {
          text-align: center;

          letter-spacing: 0px;
          color: #292929;
          text-transform: uppercase;
          max-width: 450px;
          position: relative;
          background-color: white;
          padding: 10px;
          border-radius: 0px 0px 30px 30px;
          margin: 0 auto;
          margin-bottom: 32px;
          text-shadow: 1px 1px 1px #d4d0d0, 1px 2px 1px #d4d0d0,
            1px 3px 1px #d4d0d0, 1px 4px 1px #d4d0d0, 1px 5px 1px #d4d0d0,
            1px 6px 1px #d4d0d0, 1px 7px 1px #d4d0d0, 1px 8px 1px #d4d0d0,
            1px 9px 1px #d4d0d0, 1px 10px 1px #d4d0d0;
        }

        .text {
          text-align: center;

          letter-spacing: 0px;
          max-width: 90%;
          margin-bottom: 10px;

          span {
            color: #6f00ff;
          }
        }

        .about_board {
          width: 80%;
          height: 85vh;
          margin: 0 auto;
          margin-bottom: 30px;
          background-image: url('../../assets/images/about_cypher.jpg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top;
        }

        .bridge_wrapper {
          width: 90%;
          height: 200px;
          background-color: gray;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
    }
  }

  .metaverse_section {
    z-index: 3;
    position: relative;

    .image_bg {
      //background-image: url('../../assets/images/stars.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      min-height: 100vh;
      min-width: 100%;
      margin-top: -98px;
      margin-bottom: -12px;

      .content_wrap {
        @include flex-column();
        min-height: 100vh;
        // justify-content: space-evenly;

        .header_title {
          height: 120px;
          margin-bottom: 150px;

          &.bottom {
            height: 80px;

            span {
              padding-top: 45px;
            }
          }

          span {
            padding-top: 55px;
          }

          svg {
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }

        .box_wrapper {
          @include flex-row();
          min-height: 50vh;
          max-width: 850px;

          .box_content {
            max-width: 700px;
            p {
              font-size: 22px;
              color: #000;
            }
          }
          svg {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 50vh;
          }
        }

        h1 {
          text-align: center;

          letter-spacing: 0px;
          color: #292929;
          text-transform: uppercase;
          max-width: 450px;
          position: relative;
          background-color: white;
          padding: 10px;
          border-radius: 0px 0px 30px 30px;
          margin: 0 auto;
          margin-bottom: 32px;
          font-weight: 700;
          text-shadow: 1px 1px 1px #d4d0d0, 1px 2px 1px #d4d0d0,
            1px 3px 1px #d4d0d0, 1px 4px 1px #d4d0d0, 1px 5px 1px #d4d0d0,
            1px 6px 1px #d4d0d0, 1px 7px 1px #d4d0d0, 1px 8px 1px #d4d0d0,
            1px 9px 1px #d4d0d0, 1px 10px 1px #d4d0d0;
        }

        .world_wrapper {
          .world_img {
            width: 100%;
            height: 280px;
            position: relative;
            display: inline-block;
            background-image: url('../../assets/images/metaverse_game.jpg');
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: center;
          }

          div {
            margin: 0 5px;
            max-width: 70%;
            object-fit: contain;
          }

          .div_text {
            display: inline-block;

            position: absolute;
            width: 220px;
            top: 50%;
          }
        }

        .text {
          text-align: center;

          letter-spacing: 0px;
          max-width: 90%;
          margin-bottom: 10px;
          margin: 0 auto;

          span {
            color: #6f00ff;
          }
        }
      }
    }
  }

  .track_our_progress {
    padding: 100px 0;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/images/sharedBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    min-width: 100%;
    margin-top: -35px;

    .header_title {
      height: 120px;
      margin-bottom: 150px;

      &.bottom {
        height: 80px;

        span {
          padding-top: 45px;
        }
      }

      span {
        padding-top: 55px;
      }

      svg {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }

    .timeline_wrap {
      width: 100%;
      position: relative;
      @include flex-column();

      &:before {
        @include pseudo-abs();
        background-color: #7e8ede;
        height: 9px;
        top: 36px;
      }

      .content_wrap {
        margin-bottom: 0;
        @include flex-row();
        justify-content: space-around;
        height: auto;
        transform: none;
        margin-left: 0;

        .dot {
          width: 80px;
          height: 80px;
          position: relative;
          @include flex-row();
          font-size: 30px;
          color: #fff;
          transition: all 0.3s;
          cursor: pointer;
          transform: scale(1);

          &.active {
            transform: scale(1.1);
          }
          &:hover {
            transform: scale(1.1);
          }

          &:before {
            @include pseudo-abs();
            background: #f588dd;
            border: 7px solid #b659a1;
            box-sizing: border-box;
            border-radius: 20px;
            transform: rotate(45deg);
            z-index: -1;
          }
        }
      }

      .timeline_content {
        background: rgba(189, 168, 184, 0.8);
        border-radius: 20px;
        padding: 39px 35px;
        max-width: 534px;
        margin-top: 60px;
        font-size: 18px;
        color: #fff;
      }
    }

    .pink_dots {
      width: 100%;
    }

    img {
      position: absolute;

      &.graphic_line1 {
        top: 0%;
        right: 5%;
        // animation: slideLtR 2s infinite alternate;
      }

      &.graphic_line2 {
        top: 65%;
        left: 5%;
        // animation: slideLtR 1.1s infinite alternate;
      }

      &.graphic {
        top: 8%;
        right: 5%;
        max-height: 330px;
        z-index: 0;
        animation: gentleWave 2s infinite alternate;
      }

      &.graphic_line3 {
        left: -3%;
        top: 55%;
        // animation: slideLtR 1.7s infinite alternate;
      }

      &.graphic_line4 {
        bottom: -4%;
        left: 26%;
        // animation: slideLtR 2.1s infinite alternate;
      }

      &.graphic_line5 {
        transform: scaleX(-1);
        right: -2%;
        top: 10%;
      }
    }

    .cypher_researchers_wrap {
      margin-top: 120px;

      .cypher_researchers_wrap_section {
        margin-bottom: 50px;
      }
    }

    .content_wrap {
      text-align: center;
      @include flex-column();
      justify-content: center;

      .big_wrap {
        max-height: 230px;
        margin: 80px 0;
        margin-top: 15%;
      }

      h1 {
        color: rgb(5, 3, 29);
        font-size: 50px;
        font-weight: 700;
        margin: 0;
      }

      p {
        color: rgb(70, 70, 70);
        font-size: 25px;
        max-width: 870px;
      }

      button {
        // background-color: #6f00ff;
        // border-radius: 10px;
      }
    }

    .scroll_box {
      @include flex-row();
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      max-height: calc(100vh - 80px);
      overflow: auto;
      max-width: 1160px;

      .member_card {
        background: rgba(189, 168, 184, 0.8);
        border-radius: 30px;
        min-width: 250px;
        height: 220px;
        float: left;
        margin: 0 20px 20px 20px;
        position: relative;
        overflow: hidden;

        .info {
          width: 100%;
          background: rgba(48, 21, 65, 0.8);
          color: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 15px;
          text-align: left;
        }
      }
    }
  }

  .mint_your_own {
    padding: 100px 0;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/images/versus_world.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    min-width: 100%;
    margin-top: -35px;

    .content_wrap {
      text-align: center;
      @include flex-column();
      justify-content: center;
      height: 100vh;

      .main_text {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 55px;
        text-align: center;
        color: #ffffff;
        max-width: 700px;
        margin-bottom: 25%;
      }

      .spot {
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
      }

      .spot_svg {
        width: 150px;
        height: 150px;
        margin-top: 40px;
        object-fit: contain;
      }
    }

    footer {
      text-align: center;
      color: #fff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 10px;
      text-align: center;
    }
  }

  .about_versus {
    .image_bg {
      background-image: url('../../assets/images/mountain_view.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      min-height: 100vh;
      min-width: 100%;

      .content_wrap {
        min-height: 100vh;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 0;

        .box_wrappers {
          @include flex-column();
          min-height: calc(100vh - 270px);

          .box_wrapper {
            width: 60%;
            float: right;
            position: relative;
            font-size: 22px;

            .box_svg {
              max-width: 100%;
              height: 100%;
            }
            .box_content {
              padding: 0 45px;
              min-height: 170px;
              color: #000;
              @include flex-row();
            }

            &.wrap_box {
              float: right;
              margin-left: 20%;
              margin-bottom: 50px;

              .box_content {
                min-height: 130px;
              }
            }

            &.wrap_box_2 {
              float: left;
              margin-right: 20%;
            }
          }
        }

        h1 {
          text-align: center;

          letter-spacing: 0px;
          color: #292929;
          text-transform: uppercase;
          max-width: 450px;
          position: relative;
          background-color: white;
          padding: 10px;
          border-radius: 0px 0px 30px 30px;
          margin: 0 auto;
          margin-bottom: 32px;
          font-weight: 700;
          text-shadow: 1px 1px 1px #d4d0d0, 1px 2px 1px #d4d0d0,
            1px 3px 1px #d4d0d0, 1px 4px 1px #d4d0d0, 1px 5px 1px #d4d0d0,
            1px 6px 1px #d4d0d0, 1px 7px 1px #d4d0d0, 1px 8px 1px #d4d0d0,
            1px 9px 1px #d4d0d0, 1px 10px 1px #d4d0d0;
          // 1px 18px 6px rgba(16,16,16,0.4),
          // 1px 22px 10px rgba(16,16,16,0.2),
          // 1px 25px 35px rgba(16,16,16,0.2),
          // 1px 30px 60px rgba(16,16,16,0.4);
        }

        .detail_box {
          border-radius: 35px;
          padding: 8px;
          @include flex-row();
          margin: 0 auto;
          margin-bottom: 75px;

          .insider {
            border-radius: 35px;
            height: 100%;
            width: 100%;
            text-align: center;
            //padding: 40px;
            color: #ffffff;

            .title {
              letter-spacing: 4.5px;
            }

            p {
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }

  .slider_section {
    .slide_item {
      // background-color: cyan;
      position: relative;

      .content_wrap {
        min-height: 100vh;
        margin-bottom: 0;
      }

      video {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }

      .x2 {
        z-index: 1;

        min-height: calc(100vh - #{$mainnav-height});

        .detail_box {
          border-radius: 35px;
          padding: 15px;
          @include flex-row();
          margin: 20px 0;
          position: absolute;
          top: 10px;
          max-width: 360px;
          min-height: 250px;

          .insider {
            border-radius: 35px;
            height: 100%;
            text-align: left;
            padding: 0px;
            color: #000;
            margin-top: -20px;

            .title {
              letter-spacing: 4.5px;
              // transform: translate(50%, -50%);
              text-transform: uppercase;
              // position: absolute;
              // left: 0;
              font-size: 22px;
              font-weight: 700;
              color: #000;
              margin-bottom: 15px;
              // text-shadow: 1px 1px 1px #d4d0d0, 1px 2px 1px #d4d0d0,
              //   1px 3px 1px #d4d0d0, 1px 4px 1px #d4d0d0, 1px 5px 1px #d4d0d0,
              //   1px 6px 1px #d4d0d0, 1px 7px 1px #d4d0d0, 1px 8px 1px #d4d0d0,
              //   1px 9px 1px #d4d0d0, 1px 10px 1px #d4d0d0,
              //   1px 18px 6px rgba(16, 16, 16, 0.4),
              //   1px 22px 10px rgba(16, 16, 16, 0.2),
              //   1px 25px 35px rgba(16, 16, 16, 0.2),
              //   1px 30px 60px rgba(16, 16, 16, 0.4);
            }

            p {
              letter-spacing: 0px;
              margin: 0;
              text-align: center;
              font-size: 18px;
            }
          }

          .control-arrow {
            margin-top: 30px;
          }
        }
      }
    }
  }

  footer.main {
    background-color: #1e2331;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 15px;
    overflow: hidden;

    .content_wrap {
      margin-bottom: 0;
      @include flex-column();
      text-align: center;

      a {
        text-decoration: none !important;
      }

      .logo {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      .links_wrap {
        width: 100%;
        @include flex-row();
        margin-bottom: 20px;
        justify-content: space-between;
        max-width: 500px;

        a {
          color: rgb(255, 255, 255);
          font-size: 22px;

          img {
            object-fit: contain;
            width: 58px;
            height: 58px;
            cursor: pointer;
          }
        }
      }

      .copyright {
        padding: 0 100px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.315);
        padding-top: 10px;
        @include flex-row();
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) and (min-width: $breakpoint-sm-special) {
  html {
    body {
      .home {
        .header_title {
          height: 150px !important;

          span {
            padding-top: 85px !important;
          }
        }
        .main_section {
          min-height: max(120vh, 810px) !important;

          .flex_box .shibachu {
            height: 40vh !important;
          }

          .main_box {
            margin-top: 80px !important;

            svg {
              max-width: 600px;
            }
          }

          .buttons_wrap {
            max-width: 600px;
            margin-top: 40px !important;
          }
        }

        .about_versus {
          .image_bg {
            .content_wrap {
              .box_wrappers {
                .box_wrapper {
                  margin-left: 40% !important;
                  width: 60% !important;

                  &.wrap_box_2 {
                    margin-left: 0 !important;
                    margin-right: 40% !important;
                  }
                }

                .box_content {
                  min-height: 19vh !important;
                }
              }
            }
          }
        }

        .cyphers_section .image_bg .content_wrap .box_wrappers {
          .box_wrapper {
            &.wrap_box_2 {
              .item_box {
                max-width: 600px;
              }
            }
            .diamond_svg {
              min-height: 310px;
            }
          }
        }

        .bridge_section {
          .image_bg {
            .content_wrap {
              .box_wrapper {
                min-height: 15vh;

                .box_content {
                  // max-width: 380px;
                }
              }
            }
          }
        }

        .track_our_progress {
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .home {
    overflow: hidden;

    .new_home {
      width: 100vw;
      overflow: hidden;

      img.bg {
        object-position: 1%;
        transform: translate(0px, -12%);
        max-width: 100vw;
        height: calc(100vh + 14%);
      }

      .logo_wrap {
        img {
          &.logo {
            margin-top: 80%;
            // max-width: 80%;
            // max-height: 80%;

            &.always_up {
              opacity: 0;
              right: calc(50% - 80px);
              bottom: 30px;
            }
          }
        }
      }
    }

    .main_section {
      padding-top: 80px;
      // overflow: hidden;
      min-height: max(100vh, 810px) !important;
      //padding-bottom: 90px;

      .main_box {
        margin-top: 30px;
        @include flex-column();
        min-height: 260px;

        .box_content {
          min-height: 200px;
          font-size: 18px;
          line-height: 22px;
          margin-top: -20px;
          max-width: min(550px, 85vw);
        }
      }

      .buttons_wrap {
        margin-top: -45px;

        .blue_button {
          width: 22%;
          margin-right: 10px;
        }
      }

      .flex_box {
        .shibachu {
          height: 300px;
          margin-top: 10px;
        }
        .x2 {
          padding-left: 0;
          order: 1;
          min-height: auto;
          text-align: center;
          align-items: center;

          &.image_wrap {
            img {
              width: 100%;
              max-width: max(260px, 80%);
              margin-bottom: 20px;
            }
          }

          h1 {
            font-size: 36px;
            line-height: 1;
            text-align: center;
            max-width: 205px;
          }

          p {
            font-size: 18px;
            text-align: center;
            max-width: 400px;
          }
        }
      }
    }

    .nfts_section {
      min-height: 60vh;
      margin-top: -30px;

      .content_wrap {
        .box_wrap {
          .top_svg {
            width: 100%;
            margin-left: 0;
          }

          .main_box {
            min-height: 40vh;
            .box_svg {
              width: 80%;
              margin-left: 10%;
            }

            .text {
              max-width: 80%;
              margin-left: 10%;
            }
          }
        }

        .text {
          font-size: 22px;
          max-width: 95%;
        }

        .characters_wrapper {
          @include flex-row();
          // flex-wrap: wrap;

          img {
            margin-bottom: 10px !important;
            height: 50px;
            object-fit: contain;
            margin: 0 10px;
          }
        }
      }
    }

    .mint_your_own {
      .image_bg {
        .content_wrap {
          .main_text {
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 50%;
          }

          .spot {
            font-size: 19px;
            line-height: 19px;
          }

          .spot_svg {
            width: 80px;
            height: 80px;
            margin-top: 20px;
          }
        }

        footer {
          font-size: 13px;
          line-height: 13px;
        }
      }
    }

    .about_versus {
      .image_bg {
        .content_wrap {
          .header_title {
            margin-bottom: 20px;
          }

          .box_wrappers {
            .box_wrapper {
              margin-left: 5% !important;
              width: 95%;
              font-size: 18px !important;
              min-height: max(25vh, 170px);

              svg {
                max-width: auto;
                width: auto;
                min-width: 370px;
              }

              &.wrap_box_2 {
                margin-right: 5% !important;
                margin-left: 0 !important;
              }

              .box_content {
                min-height: 22vh !important;
                @include flex-column();
                padding: 0 30px;
                // max-width: 370px;
              }
            }
          }
        }
      }
    }

    .cyphers_section {
      .image_bg {
        .content_wrap {
          padding-top: 15%;
          margin-bottom: 23px;

          .box_wrappers {
            flex-direction: column;

            .box_wrapper {
              width: 100%;
              min-height: 35vh;

              .header_title {
                margin-bottom: 30px;
              }

              .item_box {
                min-height: 120px;
                margin-bottom: 10px;
              }

              .box_svg {
                max-width: 100%;
                width: 100%;
                height: 100%;
                z-index: 0;
              }

              .box_content {
                min-height: 25vh;
                font-size: 18px !important;
                padding: 10px 20px !important;
                padding-top: 0px !important;
                span {
                  z-index: 1;
                  position: relative;
                }
              }

              &.wrap_box {
                padding-top: 20px;
                order: 2;
              }

              &.wrap_box_2 {
                order: 1;
              }
            }
          }
        }
      }
    }

    .bridge_section {
      .image_bg {
        .content_wrap {
          .header_title {
            span {
              font-size: 20px;
              padding-left: 10%;
              padding-right: 10%;
            }
          }

          .box_wrapper {
            .box_content {
              padding: 0 20px;
              // max-width: 380px;

              p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .metaverse_section {
      .image_bg {
        .content_wrap {
          margin-bottom: 0;

          .box_wrapper {
            width: 100%;

            svg {
              width: 90%;
            }
          }
        }
      }
    }

    .slider_section {
      .slide_item {
        .content_wrap {
          min-height: 100vh;
          margin-bottom: 0;
        }

        video {
          object-position: left;
        }
        .flex_box {
          flex-direction: row;
        }
      }
    }

    .track_our_progress {
      margin-top: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative;

      .header_title {
        span {
          font-size: 20px;
        }
      }

      .timeline_wrap {
        &:before {
          top: 25px;
        }

        .content_wrap {
          .dot {
            width: 60px;
            height: 60px;
            font-size: 20px;

            &:before {
              border-radius: 15px;
            }
          }
        }

        .timeline_content {
          width: calc(100% - 20px);
          padding: 15px 20px;
          font-size: 16px;
        }
      }

      .scroll_box {
        justify-content: space-evenly;
        .member_card {
          width: calc(50% - 20px);
          margin: 0;
          margin-bottom: 10px;
          max-width: 250px;

          &:last-child {
            margin-bottom: 0;
          }

          .info {
            text-align: center;
          }
        }
      }

      img.graphic_line1 {
        display: none;
      }

      img.graphic {
        display: none;
      }

      img.graphic_line2 {
        display: none;
      }

      img.graphic_line4 {
        display: none;
      }

      img.graphic_line5 {
        top: auto !important;
        bottom: -13%;
        right: -27% !important;
      }

      img.graphic_line3 {
        top: auto !important;
        bottom: -13%;
        left: -27% !important;
      }

      .image_bg {
        .content_wrap {
          svg {
            width: 100%;
            min-height: 90px;
          }

          h1 {
            font-size: 23px;
            line-height: 1.2;
          }

          p {
            font-size: 11px;
            margin-bottom: 20px;
          }
        }
      }
    }

    footer {
      .content_wrap {
        .logo {
          font-size: 32px;
        }
        .links_wrap {
          // flex-direction: column;
          a {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .copyright {
          // flex-direction: column;
          padding-left: 0;

          .privacy {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  html {
    body {
      .home .slider_section .slide_item .x2 {
        .detail_box {
          max-width: 480px;
          top: 80px;

          .insider {
            .title {
              font-size: 30px;
            }

            p {
              font-size: 21px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm-special-x1) and (min-width: $breakpoint-xs) {
  html {
    body {
      .home {
        .main_section {
          .main_box {
            margin-top: 0 !important;
            min-height: min(400px, 44vh, 34vw);

            svg {
              height: 100%;
            }
          }
          .buttons_wrap {
            // display: none;
            margin-top: -2vh !important;

            // svg {
            //   height: 55px !important;
            // }
          }
        }

        .bridge_section {
          min-height: 790px;

          .image_bg {
            .content_wrap {
              .box_wrapper {
                .box_content {
                  // max-width: 80vw;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm-special) {
  html {
    body {
      .slider_section {
        .x2 {
          min-height: auto;

          &:first-child {
            display: none;
          }

          .detail_box {
            width: calc(100% - 40px);
            margin-left: 20px;
            padding: 4px;
            margin: 45px 0;
            margin-top: 20%;

            .insider {
              padding: 12px;

              .title {
                font-size: 24px;
                line-height: 1;
                margin-bottom: 30px !important;
              }
              p {
                font-size: 15px;
                line-height: 1.3;
              }
            }
          }
        }
      }
    }
  }
}
