@import './../../variables.scss';

button {
    font-family: 'Josefin Sans';
}

.battle_wrap {
    float: left;
    width: 100%;
    position: relative;

    &:after {
        @include pseudo-abs();
        background-image: url('../../assets/images/battlebg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: calc(100vh - #{$mainnav-height});
        z-index: -1;
        animation: fadeIn 0.5s 1;
    }

    .content_wrap {
        @include flex-row();
        min-height: calc(100vh - #{$mainnav-height});
        margin-bottom: 0;

        .box_wrap {
            max-width: 1145px;
            width: 100%;
            @include flex-column();
            min-height: calc(100vh - #{$mainnav-height} - 120px);

            .main_title {
                text-align: center;
            }

            .content_scroller {
                height: 100%;
                width: 100%;
                @include flex-column();
                flex: 1;
                overflow: auto;
                justify-content: flex-start;
                max-height: calc(100vh - #{$mainnav-height} - 300px);
                margin-bottom: 20px;
                padding-right: 10px;

                .battle_item {
                    background: #ebfcee 0% 0% no-repeat padding-box;
                    box-shadow: 2px 4px 0px #29292933;
                    border: 4px solid #dc67a7;
                    width: 100%;
                    border-radius: 25px;
                    padding: 8px;
                    margin-bottom: 10px;
                    @include flex-row();
                    position: relative;

                    &:last-child {
                        margin-bottom: 5px;
                    }

                    .close {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background: #dc67a7 0% 0% no-repeat padding-box;
                        border: 2px solid #ebfcee;
                        right: 10px;
                        top: 10px;
                        color: #ebfcee;
                        border-radius: 50%;
                        @include flex-row();
                        font-size: 25px;
                        font-weight: 600;
                        padding-bottom: 4px;
                        cursor: pointer;

                        &:before {
                            @include pseudo-abs();
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: 2px solid #dc67a7;
                            left: -4px;
                            top: -4px;
                        }
                    }
                }
            }

            button {
                font-family: 'Josefin Sans'
            }
        }
    }
}

.user_card {
    @include flex-row();

    .image {
        background: #dc67a7 0% 0% no-repeat padding-box;
        box-shadow: 2px 4px 20px #6f00ff59;
        border-radius: 62px;
        @include flex-row();
        padding: 5px;

        img {
            object-fit: cover;
            height: 90px;
            height: 90px;
        }
    }

    .details {
        margin-left: 20px;

        .title {
            font: normal normal 600 22px/30px 'Josefin Sans';
            letter-spacing: 0px;
            color: #2d828e;
        }

        .item {
            text-align: left;
            font: normal normal 600 17px/23px 'Josefin Sans';
            letter-spacing: 0px;
            color: #2d828e;

            &.eth {
                margin-top: 10px;
            }
            span {
                color: #dc67a7;
            }
        }
    }
}

.battle_pop {
    width: 1145px;
    margin-top: -40px;
    @include flex-column();
    padding-bottom: 10px;

    .main_title {
        color: #165159;
        text-align: center;
        width: 100%;
    }

    .monster_details {
        height: 100%;
        width: 100%;
        @include flex-column();
        flex: 1;
        overflow: auto;
        justify-content: flex-start;
        max-height: calc(100vh - #{$mainnav-height} - 300px);
        margin-bottom: 20px;
        padding-right: 10px;
        padding: 20px;

        .monster_item {
            width: 100%;
            background: #ebfcee 0% 0% no-repeat padding-box;
            box-shadow: 2px 4px 20px #61616159;
            border-radius: 20px;
            @include flex-row();
            justify-content: space-evenly;
            padding: 4px;
            cursor: pointer;
            border: 6px solid #ebfcee;
            transition: border 0.3s;
            margin-bottom: 15px;

            &:hover {
                border: 6px solid #dc67a78f;
            }

            &.active {
                border: 6px solid #dc67a7;
            }

            .row_data {
                width: 50%;
                @include flex-column();
                align-items: flex-start;
                text-align: left;
                font: normal normal 600 17px/23px 'Josefin Sans';
                letter-spacing: 0px;
                max-width: 170px;

                .title {
                    margin-bottom: 5px;
                }
                .item {
                    width: 100%;
                    border-bottom: 1px solid #000;
                    padding-bottom: 0px;
                    margin-bottom: 0px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    span {
                        color: #dc67a7;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .battle_pop {
        width: calc(100vw - 100px);
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .battle_wrap {
        &:before {
            min-height: calc(100vh - #{$mainnav-height-mob});
        }
        .content_wrap {
            .box_wrap {
                min-height: calc(100vh - #{$mainnav-height});

                .content_scroller {
                    max-height: calc(100vh - #{$mainnav-height-mob} - 200px);
                    .battle_item {
                        flex-direction: column !important;
                        padding-top: 35px !important;
                    }
                }
            }
        }
    }

    .battle_pop {
        margin-top: 0 !important;
        width: 100%;
        min-height: calc(100vh - #{$mainnav-height-mob} - 130px);

        .main_title {
            font-size: 25px;
            margin-bottom: 0;
        }
        .monster_details {
            max-height: calc(100vh - #{$mainnav-height} - 200px);

            .monster_item {
                .row_data {
                    display: none;
                }
            }
        }
    }
}
