@import './../../variables.scss';

.mint_wrap {
  position: relative;
  padding-top: 60px;

  .mint_professor {
    width: 65%;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: -81px;
    background-image: url('../../assets/images/characters/professor_mint.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &:after {
    @include pseudo-abs();
    background-image: url('../../assets/images/mintbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: -1;
    animation: fadeIn 0.5s 1;
    filter: brightness(0.6);
  }

  .content_wrap {
    margin-bottom: 0;

    .load_loader_image {
      display: none;
    }
  }

  .flex_box {
    .x2 {
      min-height: calc(100vh - 60px);
      @include flex-row();
      justify-content: flex-start;

      .box_wrap {
        padding-left: 100px;
        padding-right: 100px;
        @include flex-column();
        position: relative;
        margin-top: 100px;
        position: relative;
        width: 100%;

        &.minting_soon_main_wrap {
          // justify-content: flex-start;
          height: 100%;
          min-height: calc(100vh - 60px);
          margin-top: 0;
          padding-top: 30px !important;
          margin-bottom: 0;

          .minted {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
          }

          .minting_soon_wrap {
            max-width: 500px;
            position: relative;
            min-height: min(60vh, 480px);

            img {
              width: 100%;
              height: 100%;
              max-width: 100%;
              object-position: center;
              left: 0;
              top: 0;
              z-index: -1;
            }

            p {
              color: #000;
              font-size: 30px;
              padding: 10px 20px;
              text-align: center;
            }
          }

          .icons_wrap {
            .icon_wrap {
              width: 65px;
              height: 65px;
              background-color: #afdbd0;
            }
          }
        }

        .box_svg {
          max-height: max(497px, calc(100vh - 170px));
        }

        .minted {
          max-width: 500px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(243, 237, 225, 0.9);
          border-radius: 60px;
          height: 60px;
          width: 100%;
          @include flex-row();
          text-align: left;
          letter-spacing: 0px;
          color: #dc67a7;
          top: -10vw;
          padding: 15px;
          margin-bottom: 15px;
          padding-left: 50px;

          .circle {
            width: 45px;
            height: 45px;
            // border: 5px solid #dc67a7;
            background-color: #c4c4c4;
            border-radius: 50%;
            margin-right: 15px;
            position: absolute;
            left: 15px;
          }

          .text {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
            color: #000000;

            .minting_soon_text {
              font-size: 0.75em;
            }

            span {
              font-size: 18px;
              line-height: -1;
            }
          }
        }

        .title {
          text-align: center;
          font-family: 'Lexend Deca';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          margin-top: -20px;
          color: #000000;
          max-width: 410px;
          margin-bottom: 35px;

          span {
            color: #6f00ff;
          }
        }

        .button_values {
          @include flex-row();

          button {
            min-width: auto;
            // width: 110px;
            @include flex-row();

            svg {
              width: 110px;
              position: relative;
            }
          }

          .value {
            text-align: center;
            font-weight: 400;
            font-size: 50px;
            line-height: 32px;
            text-align: center;
            color: #000000;
            width: 90px;
          }

          .button {
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 2px 4px 20px #6f00ff59;
            border-radius: 10px;
            width: 60px;
            height: 40px;
            cursor: pointer;
            @include flex-row();
            color: #6f00ff;
            font-size: 40px;
            line-height: 0.8;
            padding-bottom: 3px;
            font-weight: 600;
            transition: transform 0.2s;

            &:hover {
              &:active {
                transform: scale(0.97);
              }
            }
            &::selection {
              color: inherit;
              background: transparent;
            }
          }
        }

        .mint_button_wrap {
          font-size: 35px;
          padding-top: 0px;
          height: 90px;
          line-height: 1.2;

          // .mint_button {
          //   height: 80px;
          // }
        }

        .minting_button_wrap {
          width: 100%;
          min-width: 360px;
          height: 90px;
          font-size: 25px;
          line-height: 1.2;
          text-transform: initial;

          .mint_button {
          }

          span {
            animation: fadeIn 0.4s 1;
          }
        }

        .value_box {
          border-radius: 20px;
          text-align: center;
          position: relative;
          letter-spacing: 0px;
          color: #ffffff;
          @include flex-column();
          margin-bottom: 10px;
          width: 20%;
          padding: 25px 0;

          svg {
            left: 0;
            top: 0;
            position: absolute;
            z-index: 0;
          }

          span {
            position: relative;
            z-index: 1;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
            color: #000000;
          }
        }

        button {
          text-transform: uppercase;

          &.animate {
            animation: wiggle 0.4s 1;
          }
        }
      }
    }
  }
}

.mint_pop_wrap-overlay {
  @include flex-column();
}

.mint_pop_wrap-content {
  background-color: transparent;
  height: calc(100vh - 60px);
  margin-top: auto;
  // margin-top: -50% !important;
  // transform: translateY(50%) !important;
  max-height: 700px;

  .pop_bg {
    position: absolute;
    left: 0;
    top: 00;
    width: 100%;
    height: 100%;
  }

  .shared_pop_close {
    box-shadow: none;
    background-color: transparent;
    left: calc(100% - 120px);

    &:hover {
      box-shadow: none;
      transform: scale(1.11);

      &:active {
        transform: scale(0.99);
      }
    }
  }

  .mint_pop {
    width: 100%;
    width: min(calc(100vh - -510px), 1367px);

    .mint_card {
      width: 100%;
    }

    .carousel.carousel-slider {
      overflow: visible;

      .slide {
        opacity: 0;
        transition: opacity 1s;

        &.selected {
          opacity: 1;
        }

        // &.previous {
        //   transition: opacity 0s;
        // }
      }

      .control-arrow {
      }
    }

    .carousel .slider-wrapper {
      padding-top: 40px;
      margin-top: -40px;
    }

    p.carousel-status {
      text-align: left;
      letter-spacing: 0px !important;
      color: #000 !important;
      text-shadow: 0 0 BLACK;
      margin: 0;
      left: 12%;
      right: auto !important;
      top: -30px !important;
      font-size: 21px;
    }

    .flex_box {
      padding: 0 130px;
      align-items: flex-start;

      .x2 {
        height: max(calc(100vh - #{$mainnav-height} - 430px), 430px);
        flex-direction: column;
        justify-content: flex-start;
        // height: 100%;
        flex: 1;

        &.image_wrap {
          max-width: 40%;
        }

        &.details {
          width: 60%;
          align-items: flex-start;
          font-family: 'Lexend Deca';
          font-style: normal;
          font-weight: 400;

          .head {
            font-size: 32px;
            color: #000;
          }

          p {
            font-size: 20px;
            color: #000;
          }

          .row_data {
            max-width: 550px;
            padding: 30px;
            padding-top: 55px;

            .item {
              border-bottom: 0;
            }
          }
        }

        .image_anime {
          animation: cardAnime 1.2s 1;
        }

        .stable_anime {
          animation: gentleWave 2.5s infinite alternate;
        }

        .revealed {
          img {
            // display: block !important;
            opacity: 1 !important;
            animation: zoomIn 0.15s 1;
          }
          img.LoaderImage {
            opacity: 0 !important;
            // display: none !important;
          }
        }

        .image_boxed {
          @include flex-row();
          width: 100%;
          min-height: max(calc(100vh - #{$mainnav-height} - 430px), 430px);
          padding-right: 40px;

          img {
            height: 100%;
            object-fit: contain;
            max-height: max(calc(100vh - #{$mainnav-height} - 400px), 400px);
            // filter: drop-shadow(2px 4px 20px #6f00ff59);
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 0.2s;

            &.LoaderImage {
              opacity: 1;
              // display: block;
            }
          }
        }

        p {
          text-align: left;
          letter-spacing: 0px;
          color: #dc67a7;
          max-width: 572px;
        }

        .row_data {
          width: 100%;
          @include flex-row();
          align-items: flex-start;
          text-align: left;
          justify-content: flex-start;
          flex-wrap: wrap;
          letter-spacing: 0px;

          .item {
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
            margin-bottom: 5px;
            @include flex-row();
            justify-content: flex-start;
            margin-right: 40px;
            min-width: 25%;
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.popup-content {
  transition: background 0.3s;

  &.hold-content {
    overflow: hidden;
    background: transparent;

    p.carousel-status {
      opacity: 0;
    }

    .shared_pop_close {
      opacity: 0;
    }

    .control-arrow {
      opacity: 0 !important;
    }

    .x2.details {
      opacity: 0;
      max-width: 0 !important;
      overflow: hidden;
    }
  }

  p.carousel-status {
    transition: opacity 0.3s;
  }

  .shared_pop_close {
    transition: all 0.3s;
  }

  .control-arrow {
    transition: all 0.3s;
  }

  .x2.details {
    max-width: 100% !important;
    transition: opacity 0.6s, max-width 0.7s;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .mint_pop_wrap-content {
    border-radius: 30px;
    background-color: #f3ede1;
    width: calc(100vw - 30px) !important;

    .mint_pop {
      width: 100% !important;

      .carousel {
        .carousel-status {
          left: 3% !important;
          top: -10px !important;
          font-size: 25px !important;
        }
      }

      .flex_box {
        padding: 0 !important;
        min-height: 100%;

        .x2 {
          height: auto !important;
          max-width: 100% !important;

          &.image_wrap {
            max-height: 30vh;
            margin-bottom: 50px;
          }

          &.details {
            width: 100%;
            padding: 0 40px;

            svg {
              height: 150px;
            }

            .head {
              font-size: 20px;
            }

            p {
              font-size: 17px;
              margin: 0;
            }

            .row_data {
              flex-direction: row;
              padding-top: 35px;
              .item {
                font-size: 17px !important;
                margin-bottom: 10px;
                min-width: 50%;
                margin-right: 0px;
                line-height: 1 !important;
                justify-content: flex-start !important;
              }
            }
          }

          .image_boxed {
            padding-right: 0 !important;
            min-height: 30vh;

            img {
              max-height: 30vh;
            }
          }

          p {
            font-size: 20px;
            line-height: 1.3;
          }

          .row_data {
            .item {
              font-size: 20px !important;
              padding-bottom: 0;
              margin-bottom: 0;
              line-height: 1.8;
            }
          }
        }
      }
    }
  }

  .shared_pop_close {
    width: 60px !important;
    height: 60px !important;
    left: calc(100% - 45px) !important;
  }
}

@media screen and (max-width: $breakpoint-md) and (min-width: $breakpoint-sm-special) {
  .mint_wrap {
    .flex_box {
      .x2 {
        .box_wrap {
          .minted {
            top: -25vh !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .mint_wrap {
    &:after {
      // min-height: calc(100vh - #{$mainnav-height-mob});
    }

    .box_svg_mobile {
      height: calc(100% + 100px);
    }

    .flex_box {
      .x2 {
        @include flex-row();
        padding-top: 30px;
        min-height: calc(100vh - 90px);

        &:first-child {
          min-height: auto;
        }

        .box_wrap {
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 0;
          max-width: 340px;

          .minting_button_wrap,
          .mint_button_wrap {
            min-width: 160px;
            font-size: 12px;
            padding-top: 0;
            height: 40px;
          }

          .mint_button_wrap {
            padding-top: 18px;

            span {
              font-size: 20px;
            }
          }

          .title {
            font-size: 25px;
          }

          .minted {
            top: -20vh;
            .text {
              font-size: 18px;

              .minting_soon_text {
                font-size: 25px;
              }

              span {
                font-size: 14px;
              }
            }
          }

          .value_box {
            width: 55%;
            @include flex-row();
            margin: 20px 0;
            margin-bottom: 40px;

            svg {
              width: 100%;
              max-width: 160px;
              margin-left: 50%;
              transform: translate(-50%);
            }
          }

          .button_values {
            .value {
              width: 50px;
              font-size: 23px;
            }

            button {
              padding: 0;

              svg {
                width: 70px;
              }
            }
          }
        }
      }
    }
  }

  .mint_pop {
    width: 100%;

    p.carousel-status {
      font-size: 30px !important;
      top: -20px !important;
      left: 10px;
    }

    .flex_box {
      padding: 0 40px;
      min-height: calc(100vh - #{$mainnav-height-mob} - 130px);
      align-items: flex-start;
      justify-content: flex-start;

      .x2 {
        min-height: auto;
        flex: initial;
        align-items: flex-start;

        &.details {
          align-items: center;
        }

        p {
          text-align: center;
        }

        .row_data {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 240px;
          margin-bottom: 5px;

          .item {
            width: auto;
            text-align: left;

            width: calc(100% / 3);
            border-bottom: 0;

            &:first-child {
              border-bottom: 1px solid #000;
            }

            &:nth-child(2) {
              text-align: center;
              border-bottom: 1px solid #000;
              justify-content: center;
            }

            &:nth-child(3) {
              text-align: right;
              justify-content: flex-end;
              border-bottom: 1px solid #000;
            }
          }
        }
      }
    }
  }
}
