@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;600;700&display=swap');
@import './variables.scss';
@import './animations.scss';

html {
  scroll-behavior: smooth;

  &.overflow_hidden {
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  * {
    box-sizing: border-box;
  }
}

.content_wrap {
  width: 100%;
  max-width: 1500px;
  margin-left: 50%;
  transform: translate(-50%);
  color: rgb(55, 103, 116);
  margin-bottom: 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.flex_box {
  @include flex-row();

  .x2 {
    width: 50%;
    @include flex-row();
  }
}

.svg_wrap {
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  span {
    z-index: 2;
    position: relative;
  }
}

button {
  background: #cc64c2 0% 0% no-repeat padding-box;
  border-radius: 55px;
  color: #fff;
  border: none;
  padding: 12px 20px;
  min-width: 230px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff8f7;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    &:active {
      transform: scale(0.99);
    }
  }

  &.transparent {
    background: transparent !important;
    color: #fff;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}

main {
  // padding-top: $mainnav-height;
  width: 100%;
}

.box_wrap {
  // background: rgba(243, 237, 225, 0.9);
  border-radius: 40px;
  padding: 40px;
  margin: 15px 0;
}

.main_title {
  color: rgb(22, 81, 89);
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 20px;
}
.no_padding {
  padding: 0 !important;
}
iframe {
  display: none;
}

.popup-content {
  border-radius: 24px;
  border: none !important;
  overflow: hidden;
  animation: zoomIn 0.2s 1;
  max-height: calc(100vh - #{$mainnav-height} - 30px);
  overflow: auto;
  width: auto !important;
  padding: 10px !important;
  position: relative;
  margin-top: $mainnav-height + 15px !important;

  &.close_animate-content {
    animation: zoomOut 0.2s 1;
  }

  .shared_pop_close {
    position: sticky;
    top: 0px;
    left: calc(100% - 40px);
    z-index: 9999;
    cursor: pointer;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 3px 15px #00000029;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    @include flex-row();
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 2px 3px 5px #00000029;
    }

    &.hidden {
      display: none !important;
    }
  }
}

.popup-overlay {
  animation: overlayAnimation 0.5s 1;

  &.close_animate-overlay {
    animation: fadeOut 0.2s 1;
  }
}

.scroll_bar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll_bar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll_bar::-webkit-scrollbar-thumb {
  background: #edf5eb;
  transition: all 0.3s;
  border-radius: 8px;
}

/* Handle on hover */
.scroll_bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.carousel-root {
  .control-arrow {
    width: 81px !important;
    height: 160px !important;
    // background: #ffffff 0% 0% no-repeat padding-box !important;
    // box-shadow: 2px 3px 15px #00000029 !important;
    z-index: 99;
    min-width: auto !important;
    top: calc(50% - 80px) !important;
    left: 25px !important;
    opacity: 1 !important;
    background-image: url('./assets/svg/Arrow.svg') !important;
    background-position: center !important;
    background-size: 70% !important;
    background-repeat: no-repeat !important;
    border-radius: 0;

    &:before {
      display: none !important;
    }

    &:hover {
      background-color: transparent !important;

      &:active {
        transform: scale(0.9);
      }
    }
    &.control-next {
      left: auto !important;
      right: 25px !important;
    }

    &.control-prev {
      background-image: url('./assets/svg/Arrow2.svg') !important;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.mobile_only {
  display: none;
}

.box_svg {
  position: absolute;
  width: 100%;
  max-width: 500px;
  max-height: max(497px, calc(100vh - 170px));
}

.box_svg_mobile {
  position: absolute;
  width: 100%;
  max-width: 500px;
  // max-height: max(497px, calc(100vh - 170px));
}

.box_content {
  z-index: 5;
  position: relative;
}

.full_width {
  width: 100% !important;
}

@media screen and (max-width: 1366px) {
  .left_panel_auto_adjuster {
    padding-left: 140px;
    padding-right: 20px;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .mobile_hidden {
    display: none !important;
  }

  .mobile_only {
    display: block;
  }

  .left_panel_auto_adjuster {
    padding-left: 80px;
    padding-right: 0;
  }

  .flex_box {
    flex-direction: column;

    .x2 {
      width: 100%;
    }
  }

  button {
    padding: 3px 35px;
    font-size: 15px;
    min-width: 110px;
  }

  // main {
  //   padding-top: $mainnav-height-mob;
  // }

  .box_wrap {
    padding: 15px;
  }

  .carousel-root {
    .control-arrow {
      // display: none;
      // width: 50px !important;
      // height: 50px !important;
      background-size: 50% !important;
      left: 10px !important;

      &.control-next {
        right: 8px !important;
      }
    }
  }

  .popup-overlay {
    padding: 0 10px;
  }

  .popup-content {
    margin-top: calc(20px + #{$mainnav-height-mob}) !important;
    max-height: calc(100vh - #{$mainnav-height} + 5px);

    .shared_pop_close {
      width: 47px;
      height: 47px;

      svg {
        transform: scale(0.6);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm-special) {
  .carousel-root .control-arrow {
    width: 50px !important;
    height: 50px !important;
  }
}
