@import './../../variables.scss';

.wallet_pop_up_main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding-top: $mainnav-height + 20px;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.4s 1;
  }

  .content_wrap {
    position: relative;

    .flex_box > .x2 {
      width: calc(50% - 15px);
      height: 100%;
      height: calc(100vh - #{$mainnav-height} - 20px);
    }

    .close_icon {
      position: absolute;
      right: -10px;
      top: -20px;
      z-index: 99;
      height: 90px;
      cursor: pointer;
    }

    .special_box {
      max-height: 730px;
      @include flex-row();
      align-items: flex-end;
      width: 100%;
      height: 100%;
      // min-height: calc(100vh - 120px);
      padding: 25px;

      .background {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        max-height: 100%;
      }

      .left_boxer {
        max-width: 180px;
        width: 17vh;
        margin-right: 15px;
        height: 100%;
        z-index: 2;
        position: relative;
        @include flex-column();
        justify-content: flex-end;
        // max-height: 650px;

        .controller_wrap {
          position: relative;
          // max-height: 120px;
          width: 100%;
          height: 100%;
          @include flex-row();
          flex-wrap: wrap;
          // padding: 30px;
          // transform: rotate(45deg);

          div {
            position: relative;
            z-index: 5;
            min-width: 50%;
            min-height: 50%;
            // max-height: 15px;
            @include flex-row();
            justify-content: space-between;
            position: absolute;
            left: 50%;
            top: 50%;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            transform: translate(-50%, -50%);
            // margin-left: 50%;
            // margin-right: 50%;

            svg {
              cursor: pointer;
              transition: transform 0.3s;

              &:hover {
                transform: scale(1.23);
              }
            }

            &.column {
              width: 20px;
              flex-direction: column;
              // jus
            }

            &.row {
              height: 20px;
            }
          }

          .base {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            max-height: 100%;
          }
        }

        .screen_svg {
          margin-top: 20px;
          width: 100%;
        }
      }

      .right_boxer {
        width: 100%;
        height: 100%;
        // height: calc(100vh - #{$mainnav-height} - 150px);
        background-color: #2a2a2b;
        padding: 10px;
        z-index: 2;
        position: relative;

        select {
          width: 100%;
          background-color: #ead3ab;
          border: 0;
          font-size: 21px;
          padding: 2px 8px;
          color: #ef6c50;
          font-family: 'Lexend Deca';
          font-style: normal;
          font-weight: 600;
          font-size: 21px;
          line-height: 30px;
          margin-bottom: 8px;
        }

        .list_wrapper {
          border: 1px solid #ead3ab;
          border-right: 0px;
          border-bottom: 0px;
          height: calc(100% - 40px);
          overflow: auto;
          // @include flex-row();
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-evenly;
          padding: 10px;

          .card_wrap {
            float: left;
            width: 33.33%;
            min-width: 115px;
            @include flex-row();
          }

          .cypher_card {
            min-width: 115px;
            min-height: 115px;
            border-radius: 50%;
            margin: 10px;
            background-color: #aba59b;
            border: 6px solid #aba59b;
            transition: border 0.3s;
            @include flex-row();
            cursor: pointer;

            &.active,
            &:hover {
              border-color: #f46444;
            }

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .second_box_wrap {
      width: 100%;
      height: calc(100vh - #{$mainnav-height} - 50px);
      background: rgba(208, 177, 148, 1);
      border-radius: 50px;
      max-height: 850px;
      @include flex-column();
      padding: 20px;
      padding-top: 50px;
      color: #000;
      position: relative;

      .top_section {
        width: 100%;
        height: 80%;

        .character_image {
          float: left;
          width: calc(40% - 20px);
        }

        .information_wrap {
          float: right;
          width: 60%;
          min-height: min(25vh, 230px);

          .title {
            font-size: 30px;
            font-weight: 600;
          }
        }

        .level_details {
          width: 60%;
          float: right;
          position: relative;
          padding: 15px;
          padding-bottom: 30px;
          padding-right: 5px;

          * {
            z-index: 2;
            position: relative;
          }

          .bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          .level {
            margin-bottom: 15px;
          }

          .data {
            @include flex-row();
            flex-wrap: wrap;
            justify-content: flex-start;

            .item {
              flex: 1;
              min-width: 29%;
              margin-bottom: 10px;
              margin-right: 10px;
            }
          }
        }
      }

      .buttons_wrap {
        @include flex-row();
        width: 100%;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;

        button {
          height: 100%;
          max-height: 140px;
          font-size: 25px;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 10px;
          min-width: auto;

          svg {
            top: auto;
            bottom: 0;
          }

          &.release_button {
            width: 30%;
            svg {
              max-height: 100%;
            }
          }

          &.reroll_stat {
            width: 70%;

            svg {
              max-height: 100%;
            }
          }

          // &.release_button {
          //   width: 30%;
          //   padding: 0 50px;
          //   padding-bottom: 15px;

          //   span {
          //     text-align: left;
          //     width: 100%;
          //     display: block;
          //   }
          // }

          // &.reroll_stat {
          //   width: 60%;
          // }

          // img {
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   width: 100%;
          //   height: 100%;
          //   object-fit: contain;
          // }

          // .small {
          //   font-size: 12px;
          //   z-index: 2;
          //   position: relative;
          //   line-height: 1;
          //   text-align: left;
          //   width: 100%;
          //   margin-top: 10px;
          // }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .wallet_pop_up_main {
    .content_wrap {
      .flex_box > .x2 {
        width: 100%;
        height: calc(50vh - 60px);
        z-index: 3;
        position: relative;

        &:last-child {
          z-index: 2;
        }
      }

      .special_box {
        padding: 10px;

        .close_icon {
          right: -50px;
          top: -19px;
          height: 50px;
        }

        .left_boxer {
          width: 90px;
          margin-right: 10px;

          .controller_wrap {
            div {
              width: calc(100% - 20px);
              height: calc(100% - 20px);
            }
          }

          .screen_svg {
            margin-top: 5px;
          }
        }

        .right_boxer {
          .list_wrapper {
            @include flex-row();
            justify-content: space-evenly;
            align-items: flex-start;

            .card_wrap {
              min-width: 90px;
            }

            .cypher_card {
              min-width: 95px;
              min-height: 95px;
            }
          }
        }
      }

      .second_box_wrap {
        z-index: 5;
        height: calc(50vh - 30px);
        padding-top: 20px;

        .top_section {
          .character_image {
            max-height: 220px;
            object-fit: contain;
            max-width: calc(35% - 20px);
          }

          .information_wrap {
            min-height: calc(40vh - 190px);
            width: 65%;

            .title {
              font-size: 22px;
            }
          }

          .level_details {
            width: 100%;
            margin-top: 10px;

            .level {
              margin-bottom: 5px;
            }

            .data {
              .item {
                margin-bottom: 5px;
              }
            }
          }
        }

        .buttons_wrap {
          z-index: 5;
          position: relative;
          align-items: flex-start;
          margin-top: -10px;
          height: auto;

          button {
            @include flex-row();
            align-items: flex-start;
            justify-content: flex-start;
            height: 50px;
            max-height: initial !important;

            &.reroll_stat {
              svg {
                left: auto;
                right: 0;
              }
            }

            svg {
              height: 50px;
              width: auto;
              max-height: initial !important;
            }
          }
        }
      }
    }
  }
}
